/* Change latitude button to be a little larger, change font and color */

.latitude_button {
    padding: 10px;
    background-color: lightseagreen;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}

/* For white boxes (div) */

.white_div {
    background-color: white;
    margin-top: 15px;

}


/* For heading font (div) */
h1 {
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    color: lightseagreen;
}


h3 {
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    color: lightseagreen;
}

body {
    background-color: lightgray;
}

/* For visualization images */

.vis_image {
   width: 100%;
}

/* For main image on the summary */

#main_image {
    height: 200px;
    width: 200px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

}

.white_container {
    background-color: white;
}